body{
        color:  #001c31 ;
        font-family: times;
}


header div{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;    
    color:  #003760;
}

header div{
    text-decoration: none;
    font-weight: bolder;
    padding-right: 20px;
    backgroung-color: white;
}

.photo{
    float: left;
    position: absolute;
    top: 1%;
}

.mail:hover{
    font-weight: bolder;
    font-style: italic;
}

.mail{
    position: absolute;
    top : 26%;
    left : 70%;
    color: #001c31;
    font-weight: normal;
    font-style: normal;  
}

.linkedin{
    position: absolute;
    top : 25%;
    left : 15%;
}

.github{
    position: absolute;
    top : 25%;
    left : 48%;
}

.resume{
    position: absolute;
    top : 90%;
    left : 0%;
}

aside p{
    padding-left: 3%;
    padding-top: 20%;
    color: #001c31;
    font-size: large;
    font-weight: normal;
    text-decoration: none;}

.nom{
    padding-top:2%;
    padding-left: 42%;
    font-size: 28px;
    line-height: 45px;}
  

nav{
    background-image:url(images/fondMontagne.png);
    background-size: contain;
    border:1px grey solid;
    color: #001c31;
    width: 29%;
    height: 100%;
    position: fixed;
    color: #001c31;
    left: 0;
    display:inline-block;
    vertical-align:top;
}

nav a{
    padding-left: 5%;
    font-size: x-large;
    color: #001c31;
    font-style:italic;
    text-decoration: none;
    font-weight: bold;
}


.PS{
    color: #001c31;
    padding-top:50px;
    font-size: x-large;
    font-weight: bold;
    line-height: 30px
}

div{
    background-image:url(images/fondLames.png);
    background-size: contain;
    
}

section{
    display:inline-block;
    margin-left: 29%;
    width: 70%;
    vertical-align:top;
    word-wrap: break-word;
}

h1{
    font-size: x-large;
    font-weight: bold;
    padding-left: 100px;
}

h2{
    font-size: large;
    font-weight: bold;
    padding-left: 190px;
}

h3{
    font-size: large;
    font-weight: bold;
    padding-left: 190px;
}

.points{
    float: right;
    padding-right: 80px;
}

.UM{
    float: left;
    padding-top: 0px;
    padding-left: 0px;
}

.UB{
    float: left;
    padding-top: 0px;
    padding-left: 102px;
    
}

p{
    color:  #003760;
    padding-left: 200px;
    padding-right: 15px;
    line-height: 20px;
    font-size: medium;
    font-weight: normal;
    text-align:justify;
    
}




