body{
        color:  #001c31 ;
        font-family: times;
}


header div{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;}

header div{
    text-decoration: none;
    font-weight: bolder;
    padding-right: 20px;
    backgroung-color: white;
}

.photo{
    float: left;
    position: absolute;
    top: 5px;
}

.mail:hover{
    font-weight: bolder;
    font-style: italic;
}

.mail{
    color: #001c31;
    font-weight: normal;
    font-style: normal;
    
}

.linkedin{
    position: absolute;
    top : 185px;
    left : 43px;
}

aside p{
    padding-left: 70px;
    padding-top: 16px;
    color: #001c31;
    font-size: large;
    font-weight: normal;
    text-decoration: none;}

.nom{
    padding-left: 160px;
    font-size: 28px;
    line-height: 55px;
    
}

nav{
    background-image:url(images/fond2.png);
    background-size: contain;
    border:1px grey solid;
    width: 30%;
    height: 80%;
    position: fixed;
    color: #001c31;
    left: 0;
    top: 50px;
    display:inline-block;
    vertical-align:top;
}

nav a{
    padding-left: 50px;
    font-size: x-large;
    font-style:italic;
    text-decoration: none;
    font-weight: bold;
}

.PS{
    color: #001c31;
    padding-top:50px;
    font-size: x-large;
    font-weight: bold;
    line-height: 30px
}

div{
    background-image:url(images/fond1.png);
    background-size: contain;
    
}

section{
    display:inline-block;
    margin-left:30%;
    border:1px grey solid;
    width: 70%;
    vertical-align:top;
    word-wrap: break-word;
}

h1{
    font-size: x-large;
    font-weight: bold;
    padding-left: 100px;
}

h2{
    font-size: large;
    font-weight: bold;
    padding-left: 190px;
}

h3{
    font-size: large;
    font-weight: bold;
    padding-left: 190px;
}

.points{
    float: right;
    padding-right: 80px;
}

.UM{
    float: left;
    padding-top: 0px;
    padding-left: 0px;
}

.UB{
    float: left;
    padding-top: 0px;
    padding-left: 102px;
    
}

p{
    color:  #003760;
    padding-left: 200px;
    padding-right: 15px;
    line-height: 20px;
    font-size: medium;
    font-weight: normal;
    text-align:justify;
    
}




